
@import './base.css';

#app {
  font-weight: normal;
  font-family: Din;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_Regular.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_Bold.woff") format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_LightItalic.woff") format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_BoldItalic.woff") format('woff');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_DemiBold.woff") format('woff');
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 67%, 0.2);
  }
  
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.overflow-h {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}



/******************* Transitions *******************/


.transition-\.5 {
  transition: 0.5s ease all;
}

/******************* Loader *******************/

.lds-dual-ring {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 1280px) {
  .xl\:max-w-none {
      max-width:none
  }

  .xl\:basis-1\/4 {
      flex-basis: 25%
  }

  .xl\:grid-cols-2 {
      grid-template-columns: repeat(2,minmax(0,1fr))
  }
}