@import './base.css';

#app {
  font-weight: normal;
  font-family: Din;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_Regular.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_Bold.woff") format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_LightItalic.woff") format('woff');
  font-style: italic;
  font-weight: 300;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.items-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-12 {
  height: 3rem;
}

.rounded-lg {
  border-radius: .5rem;
}

.gap-2 {
  gap: .5rem;
}

.p-2 {
  padding: .5rem;
}

.flex-grow, .grow {
  flex-grow: 1;
}

.grid {
  display: grid;
}

.xl\:basis-1\/4 {
  flex-basis: 25%;
}