@import './base.css';

#app {
  font-weight: normal;
  font-family: Din;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_Regular.woff") format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Din;
  src: url("./fonts/DIN-2014_Bold.woff") format('woff');
  font-style: normal;
  font-weight: 600;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.align-baseline {

}